Repository guillem-aistech/satellite-orbit-simulator: changes, and which lefthook commands are due for each by the changed paths.
All: lint-biome, lint-md

lint-biome:
  run: 'echo "Running Biome on staged files..."
  
    pnpm lint-biome {staged_files}
  
    '
  stage_fixed: true

lint-md:
  run: 'echo "Formatting markdown files..."
  
    pnpm exec dprint fmt {staged_files}
  
    '
  stage_fixed: true

add documentation
  AGENTS.md
  README.md
  docs/ARCHITECTURE.md
  docs/DESIGN.md
  docs/SIMULATION_SPECS.md
  docs/TODO.md
  docs/assets/screenshot.png
Due: lint-md

add entry point and routing
  index.html
  src/main.tsx
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/index.tsx
Due: lint-biome

add design tokens
  src/styles/tokens.css
Due: none

add state management atoms
  src/atoms/camera.ts
  src/atoms/satellite.ts
  src/atoms/simulation.ts
Due: lint-biome

add physics module
  src/physics/constants.ts
  src/physics/index.ts
  src/physics/orbits.ts
  src/physics/position.ts
  src/physics/types.ts
Due: lint-biome

add utility functions
  src/utils/formatting.ts
Due: lint-biome

add 3D scene components
  src/components/scene/animation_controller.tsx
  src/components/scene/earth.tsx
  src/components/scene/lighting.tsx
  src/components/scene/orbit_path.tsx
  src/components/scene/satellite.tsx
  src/components/scene/scene.tsx
  src/components/scene/scene_toolbar.tsx
  src/components/scene/stars.tsx
  src/components/scene/sun.tsx
Due: lint-biome

add UI components
  src/components/ui/button.css
  src/components/ui/button.tsx
  src/components/ui/control_panel.css
  src/components/ui/control_panel.tsx
  src/components/ui/orbit_selector.css
  src/components/ui/orbit_selector.tsx
  src/components/ui/play_pause.css
  src/components/ui/play_pause.tsx
  src/components/ui/readout.css
  src/components/ui/readout.tsx
  src/components/ui/slider.css
  src/components/ui/slider.tsx
  src/components/ui/stack.tsx
  src/components/ui/toggle.css
  src/components/ui/toggle.tsx
  src/components/ui/tooltip.css
  src/components/ui/tooltip.tsx
Due: lint-biome

add static assets
  public/textures/earth_bump.jpg
  public/textures/earth_daymap.jpg
Due: none

Add write-commits skill
  .cursor/skills/write-commits/SKILL.md
  AGENTS.md
Due: lint-md

Fix README architecture link
  README.md
Due: lint-md

Add Netlify deployment config
  netlify.toml
Due: none

Add orbital velocity physics and camera view toggle
  src/atoms/camera.ts
  src/atoms/satellite.ts
  src/components/scene/satellite.tsx
  src/components/scene/scene.tsx
  src/components/scene/scene_toolbar.tsx
  src/components/ui/segmented_button.css
  src/components/ui/segmented_button.tsx
  src/physics/constants.ts
  src/physics/index.ts
  src/physics/orbits.ts
  src/physics/types.ts
Due: lint-biome

Redesign 8U CubeSat to realistic dimensions with self-shadowing
  src/components/scene/satellite.tsx
Due: lint-biome

Replace XYZ axis buttons with time scrubber step controls
  src/components/ui/control_panel.css
  src/components/ui/control_panel.tsx
  src/components/ui/step_button.css
  src/components/ui/step_button.tsx
Due: lint-biome

Improve mobile layout for toolbar and control panel
  src/components/scene/scene_toolbar.tsx
  src/components/ui/control_panel.css
  src/components/ui/control_panel.tsx
  src/components/ui/segmented_button.css
  src/styles/tokens.css
Due: lint-biome

Prevent control panel from covering too much screen on mobile
  src/components/ui/control_panel.css
Due: none

Fix control panel not starting collapsed on mobile browsers
  src/components/ui/control_panel.tsx
Due: lint-biome

Use CSS media query for mobile collapsed state instead of JavaScript
  src/components/ui/control_panel.css
  src/components/ui/control_panel.tsx
Due: lint-biome

Use dynamic viewport units for mobile browser compatibility
  src/routes/index.tsx
Due: lint-biome

Path conditions:
  lint-biome: any of: *.{ts,tsx,js,jsx,json}
  lint-md: any of: *.md
